/*
 * Globals
 */

/* Links */

a, a:focus, a:hover {
  color: #fff;
}

/* Custom default button */

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-mdb-color {
  width: 140px;
}

/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: transparent;
}

body {
  background: url("../img/backgrounds/bg_index.jpg") no-repeat center center;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  color: #8df;
}

.nav-masthead .nav-link {
  /* padding: .25rem 0; */
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

/* .cover {
  padding:  0 1.5rem;
} */

.cover .btn-lg {
  padding: 0 1.25rem;
  font-weight: 700;
}

.sheet-row {
  height: 3em;
  line-height: 3em;
  border: thick hidden rgba(255, 255, 255, 0.0);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 3px;
}

.sheet-field {
  color: black;
  text-shadow: none;
  margin: 7px;
  border: thin solid white;
  height: 2em;
  width: 100px;
  line-height: 2em;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.img-fluid {
  /* display: block; */
  max-width: 20%;
  height: auto;
}

.nav {
  background-color: black;
}

.img-thumbnail {
  /* max-width: 20%; */
  height: 150px;
  width: 110px;
  background-color: white;
  background-blend-mode: lighten;
}

/* .upload-div {
  display: inline-block; */

/* padding: 15%;
} */

.loader {
  border: 5px solid gray;
  /* Light grey */
  border-top: 6px solid black;
  /* Blue */
  border-radius: 20px;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sheet-header {
  /* background-color: rgba(255, 255, 255, 0.8) */
}

.header-cell {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-shadow: none;
  max-width: 30px;
  height: 1.2em;
  font-size: small;
  line-break: anywhere;
  vertical-align: middle;
  /* -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  /* -o-transform: rotate(-90.0deg);  Opera 10.5 */
  /* -webkit-transform: rotate(-90.0deg);  Saf3.1+, Chrome */
  /* filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  IE6,IE7 */
  /* -ms-filter: "progisd:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; IE8 */
  /* margin-left: -10em; */
  /* margin-right: -10em; */
}

.rotate {
  height: 100px;
  white-space: nowrap;
  width: 0;
  /* >div { */
    transform: translate(0px, 20px) rotate(-90deg);
  /* } */
  /* >div>span { */
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
  }
/* } */

.selectpicker{
  max-width: 50px;
  border-radius: 2px;
  background-color: #333;
  color: white;
}

.tissue-cell {
  /* border: 2px solid rgb(89, 80, 80); */
  /* color: black; */
  text-shadow: none;
  min-width: 150px;
  /* height: 1.2em; */
  font-size: small;
  /* line-break: anywhere; */
  text-align: left;
}

#Progress {
  width: 100%;
  background-color: white;
}

#Bar {
  width: 0%;
  height: 30px;
  background-color: black;
}

/* 
 * Tutorial - Modal Content/Box 
 */

.modal-content {
  text-align: left;
  display: none;
  position: fixed;
  z-index: 1;
  top: 5%;
  background-color: #fefefecc;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  /* height: 200px; */
  color: black;
}

#tutorial-modal-data {
  left: 5%;
  display: none;
}

#tutorial-modal {
  display: none;
}

#tutorial-modal-data-coords {
  right: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-data-disp {
  right: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-data-sigs {
  left: 5%;
  width: 400px;
  display: none;
}

#tutorial-modal-parameters {
  left: 5%;
  width: 300px;
  display: none;
}

#tutorial-modal-parameters-coordinates {
  right: 5%;
  width: 300px;
  display: none;
}

#tutorial-modal-parameters-sigma {
  left: 5%;
  width: 300px;
  display: none;
}

#tutorial-modal-analysis-KDE {
  display: none;
  right: 5%;
  width: 300px;
}

#tutorial-modal-analysis-assignments {
  display: none;
  left: 5%;
  width: 300px;
}

#hoverinfo {
  /* left: 0px; */
  position: relative;
  z-index: 2;
  text-align: left;
  font-size: large;
  /* border: 2px solid white; */
  height: 100px;
  width: 100px;
  /* display: none; */
}

.vf-norm-load{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}